:root{
    --Violet: hsl(257, 40%, 49%);
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
*, 
*::before, 
*::after {
    box-sizing: inherit;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    margin-bottom: 2rem;
}
body{
    background-color: var(--Violet);
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 1.8rem;
}
.container{
    height: 100vh;
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5.5rem 7rem 4rem 7rem;
}
.header img{
    height: 53px;
}
.main{
    display: flex;
    justify-content: center;
    margin: 6rem 0 0 4px;
}
.main-img{
    flex: 1 0 54.5%;
}
.main-img img{
    width: 100%;;
}
.main-text{
    padding: 4rem 2rem;
    margin-left: 3.4rem;
}
.main-text p{
    line-height: 1.5;
    margin-bottom: 2.5rem;
}
.button{
    color: var(--Violet);
    background-color: #fff;
    padding: 1.7rem 6.4rem;
    border-radius: 5rem;
    border: none;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    transition: all .2s;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.8rem;
}
.button:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
}
.button:active {
    transform: translateY(0rem);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
.social-icons{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
.social-icons .icon{
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    border: 1px solid #fff;
    text-align: center;
    line-height: 4rem;
    margin: 0 1.5rem 0 0;
}
.icon a{
    color: #fff;
}
.social-icons .icon:hover{
    background-color: rgba(255, 82, 192, 0.7);
}
/*--Responsive--*/
@media only screen and (min-height: 801px) {
    .container {
        background-size: contain; 
    }  
}
@media only screen and (min-width: 1600px) {
    main {
        padding: 0 4%;
    }
}
/* Switch to Column Layout (Tablet Portrait Modes)*/
@media only screen and (max-width:1100px) {
    .container {
        height: unset;
        background-image:url("../images/bg-mobile.svg");
        background-size: cover;
        align-items: center;
        justify-content: space-between;
    }
    .header {
        align-self: flex-start;
    }
    .main {
        flex-direction: column;
        margin-left: unset;
        align-items: center;
    }
    .main-img {
        flex: 1;
        display: flex;
        justify-content: center;
    }
    .main-img img {
        width: 90%;
    }
    .main-text {
        text-align: center;
        margin-left: unset;
        width: 80%;
        margin-top: 3rem;
    }
    .social-icons {
        margin-right: unset;
        margin-top: 3rem;
    }
}
/* Resize for Mobile */
@media only screen and (max-width:720px) {
    .container {
        padding: 3rem 2rem;
        height: 100vh;
        background-size: contain;
    }
    .header {
        margin-left: 1.25rem;
    }
    .header img {
        height: 36px;
    }
    .ain {
        margin-top: 55px;
        padding: unset;
    }
    .main-text {
        width: 100%;
        padding: 4rem .5rem;
    }
    h1 {
        font-size: 26px;
        line-height: 1.6;
    }
    .button {
        font-size: 1.4rem;
        padding: 1.5rem 9rem;
    }
    .social-icons {
        margin-top: unset;
        padding-top: 4rem;
        padding-bottom: 5rem;
    }
    .icon:not(:last-of-type) {
        margin-right: 1.2rem;
    }
}